.d{
    @include display_class_generator()
}


.justify {
  @include alignment_class_generator(justify-content);
}

.align {
  @include alignment_class_generator(align-items);
}

// .justify-start { justify-content: flex-start !important; }
// .justify-end { justify-content: flex-end !important; }
// .justify-center { justify-content: center !important; }
// .justify-between { justify-content: space-between !important; }
// .justify-around { justify-content: space-around !important; }
// .align-start { align-items: flex-start !important; }
// .align-end { align-items: flex-end !important; }
// .align-center { align-items: center !important; }
// .align-between { align-items: space-between !important; }
// .align-around { align-items: space-around !important; }

  