
.font{
    @include typography_class_generator(weight);
}
.text{
    @include typography_class_generator(align);
    @include typography_class_generator(fontsize);
}


.border {
    @include border_class_generator;
  }