$primary_bg:#f0f3f9;
$commen_bg:white;

$border:1px solid rgb(230, 230, 230);

$white_text:white;

$gray1:#51595e;
$gray2:rgba(100, 117, 137, 0.7);
$gray3:rgba(103, 103, 103, 0.874);
$gray5:rgb(44, 44, 44);

$blue1:#0389c9;

$color:(
    // blue
    // text-blue-500
    // bg-blue-500
    blue-primary:#0389c9,
    blue-50:  rgb(239 ,246, 255),
    blue-100: rgb(219 ,234, 254),
    blue-200: rgb(191 ,219, 254),
    blue-300: rgb(147 ,197, 253),
    blue-400: rgb(96 ,165, 250),
    blue-500: rgb(59 ,130, 246),
    blue-600: rgb(37 ,99 ,235),
    blue-700: rgb(29 ,78 ,216),
    blue-800: rgb(30 ,64 ,175),
    blue-900: rgb(30 ,58 ,138),

    // 'lochmara'
        // DEFAULT: '#0389C9',
        lochmara-50: '#86D7FD',
        lochmara-100: '#72D0FD',
        lochmara-200: '#4AC3FC',
        lochmara-300: '#22B5FC',
        lochmara-400: '#04A4F1',
        lochmara-500: '#0389C9',
        lochmara-600: '#026392',
        lochmara-700: '#013E5A',
        lochmara-800: '#011823',
        lochmara-900: '#000000',

    // white
    white:white,

    // gray
    gray-100: rgb(243, 244 ,246),
    gray-200: rgb(229, 231 ,235),
    gray-300: rgb(209, 213 ,219),
    gray-400: rgb(156, 163 ,175),
    gray-500: rgb(107, 114 ,128),
    gray-600: rgb(75 ,85 ,99),
    gray-700: rgb(55 ,65 ,81),
    gray-800: rgb(31 ,41 ,55),
    gray-900: rgb(17 ,24 ,39),

    red
    red-50 : rgb(254, 242, 242),
    red-100: rgb(254, 226, 226),
    red-200: rgb(254, 202, 202),
    red-300: rgb(252, 165, 165),
    red-400: rgb(248, 113, 113),
    red-500: rgb(239, 68 ,68),
    red-600: rgb(220, 38 ,38),
    red-700: rgb(185, 28 ,28),
    red-800: rgb(153, 27 ,27),
    red-900: rgb(127, 29 ,29),

    green
    green-50: rgb(240 ,253, 244),
    green-100: rgb(220 ,252 ,231),
    green-200: rgb(187 ,247 ,208),
    green-300: rgb(134 ,239 ,172),
    green-400: rgb(74 ,222 ,128),
    green-500: rgb(34 ,197 ,94),
    green-600: rgb(22 ,163 ,74),
    green-700: rgb(21 ,128 ,61),
    green-800: rgb(22 ,101 ,52),
    green-900: rgb(20 ,83 ,45),
);

$font:(
    // class ex:font-thin
    thin: 100,
    extralight: 200,
    light: 300,
    normal: 400,
    medium: 500,
    semibold: 600,
    bold: 700,
    extrabold: 800,
    black: 900,

    // class ex:text-center
    left: left,
    center: center,
    right: right,
    justify: justify,

    // class ex:text-sm
    sm	: 0.875rem, /* 14px */
    base	: 1rem, /* 16px */
    lg	: 1.125rem, /* 18px */
    xl	: 1.25rem, /* 20px */
    2xl: 1.5rem, /* 24px */
    3xl: 1.875rem, /* 30px */
    4xl: 2.25rem, /* 36px */
    5xl: 3rem, /* 48px */
    6xl: 3.75rem, /* 60px */
);

$position:(
    static:static,
    fixed:fixed,
    absolute:absolute,
    relative:relative,
    sticky:sticky,
);

$display:(
    block:block,
    inline-block:inline-block,
    inline:inline,
    flex:flex,
    inline-flex:inline-flex,
    none:none,
);  
$alignment: (
  start: flex-start,
  end: flex-end,
  center: center,
  between: space-between,
  around: space-around,
);